body{
    background-image: url(./images/16.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.nav-menu {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.nav-link {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(240, 242, 243, 0.747);
    width: 30%;
    padding-left: 10px;
}
.nav-link:hover{
    color: rgb(255, 68, 0);
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-menu:hover{
    color: rgb(255, 68, 0);
    font-size: 1.1rem;
    font-weight: bold;
}
.socil-media-icon {
    padding: 8px;
    font-size: 20px;
    color: aliceblue;
}
.socil-media-icon:hover {
    color: rgb(255, 68, 0);
    font-size: 22px;
}
#skills h4 {
    font-size: 1.5em;
    margin-top: 22px;
}
#name-heading {
    font-family: initial;
}
.right-side {
    position: relative;
    left: 30%;
}

.hover-sm:hover {

    box-shadow: 0PX 0PX 20px red;
}
.heading {
    color: aliceblue;
}
.image {
    height: 200px;
    width: 200px;
    margin: 5px
}
@media only screen and (max-width:767px) {
    #prifile-menu {
        display: none;
    }
}
@media only screen and (max-width:767px) {
    #home {
        margin-left: 0%;
        margin-top: 0px
    }
}
@media only screen and (min-width:767px) {
    #home {
        margin-top: 24px;
    }
}
@media only screen and (min-width:767px) {
    #navbar, #socil-media-icon-home-div{
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    #contact,
    #images,
    #about {
        height: 90vh;
        }
}
 
.black {
    background-color: rgba(15, 15, 15, 0.6);
    transition-property: background-color;
    transition-duration: 1s;
}
 
.white {
    background-image: linear-gradient(rgba(255, 0, 0, .6), rgba(0, 0, 255, .6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.card-body_1:hover{
    box-shadow: 0PX 0PX 5px rgb(0, 157, 255);
    background-color: aquamarine;
}
.card-body_2:hover{
    box-shadow: 0PX 0PX 5px rgb(255, 0, 76);
    background-color: rgb(255, 127, 146);
}
.card-body_3:hover{
    box-shadow: 0PX 0PX 5px rgb(3, 119, 191);
    background-color: rgb(127, 168, 255);
}
@keyframes home {


    0% {
        background-position: 10% 40%;
    }

    50% {
        background-position: 40% 90%;
    }

    100% {
        background-position: 90% 10%;
    }
}
.white:hover {
    box-shadow: 0PX 0PX 20px red;
}
.ab {
    background-image: linear-gradient(rgba(224, 248, 6, 0.6), rgba(0, 0, 255, 0.6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.ab:hover {
    box-shadow: 0PX 0PX 20px red;
}
.sb {
background-image: linear-gradient(rgba(255, 0, 242, 0.6), rgba(4, 83, 4, 0.6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.sb:hover {
    box-shadow: 0PX 0PX 20px red;
}
.eb {
background-image: linear-gradient(rgba(138, 1, 1, 0.6), rgba(4, 133, 156, 0.6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.eb:hover {
    box-shadow: 0PX 0PX 20px red;
}
.cb {
    background-image: linear-gradient(rgba(0, 0, 255, 0.6), rgba(255, 0, 149, 0.6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.cb:hover {
    box-shadow: 0PX 0PX 20px red;
}
.ib {background-image: linear-gradient(rgba(248, 120, 0, 0.6), rgba(98, 0, 255, 0.6));
    animation: home 10s  infinite;
    background-size: 180% 180%;
}
.ib:hover {
    box-shadow: 0PX 0PX 20px red;
}
#im {
    
    animation: abhilash 7s infinite;
}
@keyframes abhilash {
    0% {
        color: rgb(248, 11, 11);
    }

    10% {
        color: rgb(255, 230, 0);
    }

    20% {
        color: rgb(29, 255, 9);
    }

    30% {
        color: rgb(0, 153, 255);
    }

    40% {
        color: rgb(193, 5, 250);
    }

    50% {
        color: rgb(255, 0, 179);
    }

    60% {
        color: rgb(0, 195, 255);
    }

    70% {
        color: rgb(255, 140, 9);
    }

    80% {
        color: rgb(255, 187, 0);
    }

    90% {
        color: rgb(198, 10, 255);
    }
}
.home-ak-heading span {
    margin: -6px;
    padding: 0px;
}
